# Run `pip3 install -r requirements.txt` to install packages.
# Library dependencies for the main python code.

Scrapy==1.6.0

# Library dependencies for the jupyter notebook

pandas==0.24.2
numpy==1.22.0
